/* Main Content */
#mainContent {
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

#mainContent a {
    text-decoration: none;
    color: white;
}

#mainContent .item:nth-child(1) {
    width: 100%;
    padding-top: 220px;
    margin-top: 300px;
    padding-bottom: 100px;
    border-top: 1px solid gray;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#mainContent .item:nth-child(1) h1 {
    font-size: 200px;
    font-weight: 400;
    text-align: center;

    position: absolute;
    top: 72px;
    z-index: 1;
}

#mainContent .item:nth-child(1) p {
    width: 850px;
    text-align: center;
    line-height: 1.8;
    font-weight: 100;
    font-size: 20px;
    opacity: 0.8;

    position: absolute;
    top: 400px;
    z-index: 1;
}

#mainContent .item:nth-child(1) a {
    font-size: 20px;
    font-weight: 200;
    width: 300px;
    position: absolute;
    z-index: 1;
    border: 1px solid white;
    padding: 20px;
    overflow: hidden;
    color: white;
    transition: color 0.4s ease;
    opacity: 0.8;
}

#mainContent .item:nth-child(1) a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: width 0.4s ease-in-out;
}

#mainContent .item:nth-child(1) a:hover::before {
    width: 100%;
}

#mainContent .item:nth-child(1) a:hover {
    opacity: 1;
    color: black;
}

#servicesWeOfferLink {
    top: 65%;
    left: 300px;
}

#bookAConsultationLink {
    top: 65%;
    right: 190px;
}

#askAQuestionLink {
    top: 80%;
    left: 300px;
}

#companyMetricsLink {
    top: 80%;
    right: 190px;
}

#mainContent .item:nth-child(1) img {
    width: 100%;
    opacity: 0.3;
}

#mainContent .item:nth-child(2) {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
}

.servicesItems {
    width: 100%;
    border-top: 1px solid gray;
    padding-top: 100px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainContent .item:nth-child(2) p {
    font-size: 20px;
    width: 400px;
    opacity: 0.4;
    font-weight: 300;
}

#mainContent .item:nth-child(2) h1 {
    font-size: 100px;
    font-weight: 100;
    cursor: pointer;
}

#mainContent .item:nth-child(2) h1:hover {
    opacity: 0.5;
}

#mainContent .item:nth-child(3) {
    width: 100%;
    height: 900px;
    background-image: url(./assets/servicesImage1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    display: flex;
    flex-direction: column;
}

#servicesTitle {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#servicesTitle h1 {
    font-size: 60px;
}

#servicesTitle a {
    width: 250px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid white;
    background: none;
    color: white;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
    z-index: 1;
    /* Ensure the text stays on top */
}

#servicesTitle a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: width 0.4s ease;
}

#servicesTitle a:hover::before {
    width: 100%;
}

#servicesTitle a:hover {
    color: black;
}

#servicesInformation {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: row;
}

#servicesInformationLeft {
    width: 50%;
    height: 70%;
    margin-top: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

#servicesInformationDescription {
    opacity: 0.8;
}

#servicesInformationMore {
    display: none;
    letter-spacing: 0.5px;
    line-height: 30px;
    opacity: 0.8;
}

#learnMoreButton {
    border: none;
    border-bottom: 1px solid gray;
    background: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    width: 150px;
    font-size: 16px;
}

#servicesInformationRight {
    width: 50%;
    height: 50%;
    margin-top: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#servicesPageNumber {
    padding-right: 50px;
}

#servicesPageButtons {
    padding-bottom: 100px;

    display: flex;
    flex-direction: row;
    gap: 25px;
}

#servicesPageButtons button {
    border-radius: 50%;
    border: 1px solid gray;
    padding: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

#servicesPrevious,
#servicesNext {
    background-color: black;
}

#servicesButtons {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#servicesButtons button {
    border: none;
    border-bottom: 1px solid gray;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
}

#servicesButtons button:hover {
    opacity: 0.5;
}

#mainContent .item:nth-child(3) {
    transition: opacity 0.5s ease-in-out;
    /* Smooth transition for opacity */
    opacity: 1;
    /* Ensure full visibility */
}

/* Slide-in from the left animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Apply the slide-in animation to the content */
.slide-in-left {
    animation: slideInFromLeft 1.2s ease-in-out forwards;
}

#mainContent .item:nth-child(4) {
    width: 100%;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.metricItem {
    height: 500px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.metricItem h1 {
    font-size: 60px;
}

.metricItem .left {
    width: 50%;
}

.metricItem .right {
    width: 50%;
}

.metricItem.other {
    width: 100%;
    height: 300px;
    font-size: 14px;
    background-color: goldenrod;
}

.metricItem.other svg {
    height: 80px;
}

.metricItem.other h1 {
    font-size: 40px;
}

.trustItem {
    height: 100%;
    width: 33%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.metricItem:nth-child(5) {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.metricItem:nth-child(5) .left,
.metricItem:nth-child(5) .right {
    border-radius: 16px;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0));
    /* Gradient background */
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    color: #fff;
    height: 100%;
    width: 50%;
}

.metricItem:nth-child(5) .right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.metricItem:nth-child(5) .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.metricItem:nth-child(5) .left h1{
    font-size: 40px;
}

.metricItem:nth-child(5) p{
    text-align: center;
}

.statItemTitle{
    width: 100%;
    height: 250px;
    border-radius: 16px;
    border: 1px solid rgb(92, 92, 92);
    padding: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.statItemTitle svg{
    width: 150px;
    height: 150px;
}

.statItemTitle p{
    width: 250px;
}

.statItemContainer, .statItemLeftContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
}

.statItemLeftContainer svg{
    width: 100px;
}

.statItem{
    width: 450px;
    height: 120px;
    backdrop-filter: invert(10%);
    border-radius: 6px;
    padding: 20px;
}

.statItem h1{
    font-size: 20px;
}

@media(max-width: 1400px) {
    #mainContent .item:nth-child(1) h1 {
        font-size: 100px;
        top: 150px;
    }

    #mainContent .item:nth-child(1) p {
        font-size: 16px;
    }

    #mainContent .item:nth-child(1) a {
        width: 200px;
        font-size: 16px;
        padding: 15px;
    }

    #servicesWeOfferLink {
        left: 250px;
    }

    #askAQuestionLink {
        left: 250px;
    }

    #mainContent .item:nth-child(2) h1 {
        font-size: 60px;
    }

    #mainContent .item:nth-child(2) p {
        font-size: 16px;
    }

    #mainContent .item:nth-child(3) {
        height: 800px;
    }

    #servicesButtons button {
        font-size: 16px;
    }

    .metricItem:nth-child(5) .left h1{
        font-size: 30px;
    }

    .statItemLeftContainer svg{
        width: 70px;
    }

    .statItem{
        width: 300px;
    }

    .statItem p{
        font-size: 12px;
    }
}

@media(max-width: 1100px) {

    .sidePaddings {
        padding-right: 40px !important;
    }

    #mainContent .item:nth-child(1) h1 {
        top: 170px;
        font-size: 70px;
    }

    #mainContent .item:nth-child(1) p {
        font-size: 14px;
    }

    #servicesWeOfferLink,
    #askAQuestionLink {
        left: 100px;
    }

    #bookAConsultationLink,
    #companyMetricsLink {
        right: 100px;
    }

    #mainContent .item:nth-child(2) h1 {
        font-size: 40px;
    }

    #mainContent .item:nth-child(2) p {
        font-size: 14px;
    }

    #mainContent .item:nth-child(3) {
        height: 600px;
    }

    #servicesTitle h1 {
        font-size: 40px;
    }

    #servicesInformationTitle {
        font-size: 24px;
    }

    #servicesTitle a {
        width: 170px;
        font-size: 12px;
        padding: 10px;
    }

    #servicesButtons button,
    #learnMoreButton,
    #servicesInformationDescription {
        font-size: 14px;
    }

    #servicesPageNumber {
        font-size: 14px;
    }

    #servicesPageButtons button {
        width: 40px;
        height: 40px;
    }

    .metricItem img {
        width: 400px;
    }

    .metricItem.other h1 {
        font-size: 30px;
    }

    .metricItem.other p {
        font-size: 14px;
    }

    .metricItem:nth-child(5) .left h1{
        font-size: 20px;
    }

    .metricItem:nth-child(5) p{
        font-size: 11px;
    }

    .statItemTitle{
        height: 150px;
    }

    .statItem{
        height: 70px;
        padding: 10px;
    }

    .metricItem h1{
        font-size: 14px !important;
    }

    .metricItem:nth-child(5) p{
        font-size: 9px;
    }

}

@media(max-width: 900px) {
    .sidePaddings {
        padding-left: 10px !important;
        padding-right: 40px !important;
    }

    #mainContent {
        gap: 50px;
    }

    #mainContent .item:nth-child(1) {
        margin-top: 200px;
        padding-top: 50px;
    }

    #mainContent .item:nth-child(1) h1 {
        top: 15px;
        font-size: 50px;
    }

    #mainContent .item:nth-child(1) p {
        top: 100px;
        width: 400px;
        font-size: 12px;
    }

    #mainContent .item:nth-child(1) a {
        width: 150px;
        font-size: 12px;
    }

    #servicesWeOfferLink,
    #bookAConsultationLink {
        top: 250px;
        padding: 10px !important;
    }

    #askAQuestionLink,
    #companyMetricsLink {
        top: 320px;
        padding: 10px !important;
    }

    .servicesItems {
        padding-top: 50px;
        padding-bottom: 0px;
    }

    #mainContent .item:nth-child(2) h1 {
        font-size: 24px;
    }

    #mainContent .item:nth-child(2) p {
        font-size: 12px;
    }

    #mainContent .item:nth-child(3) {
        height: 350px;
    }

    #servicesInformationTitle {
        font-size: 16px;
    }

    #servicesButtons button,
    #learnMoreButton,
    #servicesInformationDescription {
        font-size: 11px;
    }

    #learnMoreButton {
        width: 100px;
    }

    #servicesTitle h1 {
        font-size: 30px;
    }

    #servicesInformationLeft {
        margin-top: 40px;
        height: 40%;
    }

    #servicesPageNumber {
        padding-right: 0px;
    }

    #servicesPageButtons {
        margin-top: 20px;
        gap: 10px;
    }

    #servicesPageButtons button {
        width: 30px;
        height: 30px;
    }

    #servicesButtons {
        height: 15%;
    }

    #servicesButtons button {
        font-size: 8px;
    }

    .metricItem {
        height: 300px;
    }

    .metricItem h1 {
        font-size: 40px;
    }

    .metricItem img {
        width: 200px;
    }

    .metricItem.other {
        gap: 20px;
    }

    .metricItem.other svg {
        height: 40px;
    }

    .metricItem.other h1 {
        font-size: 24px;
    }

    .metricItem.other p {
        font-size: 11px;
    }
}

@media(max-width: 600px) {
    #mainContent .item:nth-child(1) h1 {
        top: 30px;
        font-size: 30px;
    }

    #mainContent .item:nth-child(1) p {
        font-size: 9px;
        width: 300px;
    }

    #mainContent .item:nth-child(1) a {
        width: 100px;
        font-size: 8px;
        padding: 5px;
    }

    #servicesWeOfferLink,
    #askAQuestionLink {
        left: 40px;
    }

    #bookAConsultationLink,
    #companyMetricsLink {
        right: 50px;
    }

    #mainContent .item:nth-child(2) p {
        font-size: 9px;
    }

    #mainContent .item:nth-child(2) h1 {
        font-size: 16px;
    }

    #servicesTitle a {
        width: 150px;
        font-size: 9px;
        padding: 5px;
    }

    #servicesButtons button {
        font-size: 6px;
    }

    .metricItem h1 {
        font-size: 24px;
    }

    .metricItem.other {
        height: 180px;
    }

    .metricItem.other svg {
        height: 25px;
    }

    .metricItem.other h1 {
        font-size: 16px;
    }

    .metricItem.other p {
        font-size: 9px;
    }
}